<div class="container">
    <form [formGroup]= "loginForm" (ngSubmit)="onSubmit()" class="content-wrapper">
        <ul>
            <li class="logo"></li>
            <li><input formControlName = "username" type="text" class="login-input username" placeholder="Username"></li>
            <li><input formControlName = "password" type="text" class="login-input password" placeholder="Password"></li>
        </ul>
        <div class="submit-login">
            <button type="submit" class="btn">Login</button>
        </div>
    </form>
    <div class="login-options-wrapper">
       <a class="login-option">Forgot Your Password?</a>
        <a [routerLink]="['/artist/create']" class="login-option">Create New Account></a>
        
    </div>
</div>
