<div class="container">
    <div class="banner">banner</div>
    <div class="bio-wrapper">
        <div class="bio-content">
            <div class="pic">pic</div>
            <div class="bio">bio</div>
        </div>
    </div>
    <div class="content">
        <div class="temp">block</div>
        <div class="temp">block</div>
        <div class="temp">block</div>
        <div class="temp">block</div>
        <div class="temp">block</div>
        <div class="temp">block</div>
        <div class="temp">block</div>
        <div class="temp">block</div>
        <div class="temp">block</div>

    </div>
</div>